* {
  margin: 0px auto;
  box-sizing: border-box;
}

.page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.logo {
  background-color: #635D5D;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 90px;
}

.banner {
  background-color: #53A2C1;
  color: #3B3838;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  font-family: monospace;
  width: 70%;
}

.nav-bar {
  width: 100%;
  display: flex;
  padding: 5px;
  background-color: #3B3838;
  color: #D9D9D9;
}

.nav-bar div {
  width: 25%;
  text-align: center;
  font-size: 15px;
}

.nav-bar div:active {
  background-color: #353333;
}

.base {
  width: 100%;
  background-color: #ACD3E2;
}

.content {
  display: flex;
  background-color: #ACD3E2;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.picture-me {
  background-color: white;
  margin: 20px;
  width: 280px;
  height: 280px;
  border: 2px solid #635D5D;
}
.picture-me img {
  width: 276px;
  height: 276px;
}

.general-info {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.contact-me {
  background-color: #EEB500;
  text-align: center;
  width: 230px;
  height: 40px;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
  border: 2px solid #AC8300;
  color: #8A6900;
}
.contact-me:active {
  background-color: #FFD85B;
}

.about-me {
  width: 100%;
  background-color: #3B3838;
  text-align: center;
  padding: 40px 20px;
  color: #D9D9D9;
}

.experience {
  width: 100%;
}

.projects {
  width: 100%;
  background-color: #77B6CF;
  text-align: center;
  padding: 40px 20px;
  color: #3B3838;
}

.work-exp {
  width: 100%;
  background-color: #3D8AA9;
  text-align: center;
  padding: 40px 20px;
  color: #3B3838;
}

.footer {
  width: 100%;
  background-color: #635D5D;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10%;
  color: #353333;
}

p {
  line-height: 1.5;
  font-size: 15px;
}

h3 {
  font-size: 24px;
  padding-bottom: 4px;
}

@media only screen and (min-width: 567px) and (max-width: 960px) {
  .nav-bar {
    display: block;
  }
  .nav-bar div {
    float: left;
    width: 80px;
  }
  .nav-bar div:last-child {
    float: right;
  }

  .general-info {
    width: 35%;
    margin: 20px;
  }
  .about-me {
    order: -1;
    height: 230px;
    padding-top: 78px;
    align-self: flex-start;
  }
  .contact-me {
    align-self: flex-end;
    margin-bottom: 0px;
    width: 100%;
  }

  .experience {
    display: flex;
  }
  .projects,
  .work-exp {
    width: 50%;
  }
}

@media only screen and (min-width: 961px) {
  .nav-bar {
    display: block;
  }
  .nav-bar div {
    float: left;
    width: 80px;
  }
  .nav-bar div:last-child {
    float: right;
  }

  .base {
      padding-bottom: 20%;
  }

  .general-info {
    width: 30%;
    margin: 20px;
  }
  .about-me {
    order: -1;
    height: 230px;
    padding-top: 78px;
    align-self: flex-start;
  }
  .contact-me {
    align-self: flex-end;
    margin-bottom: 0px;
    width: 100%;
  }

  .experience {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .projects,
  .work-exp {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .projects p,
  .work-exp p {
    width: 100%;
  }
}
